 {{ form_start(formVisite) }}
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-auto">
                        {{ form_row(formVisite.datecreation) }}
                    </div>
                    <div class="col">
                        {{ form_row(formVisite.note) }}
                    </div>
                    <div class="col">
                        {{ form_row(formVisite.tempmin) }}
                    </div>
                    <div class="col">
                        {{ form_row(formVisite.tempmax) }}
                    </div>
                </div>
                {{ form_row(formVisite.ville) }}
                {{ form_row(formVisite.pays) }}
                {{ form_row(formVisite.environnements) }}
            </div>
            <div class="col">
                <div>
                    {{ form_row(formVisite.imageFile) }}
                </div>
                <div>
                    image actuelle
                    {% if visite.imagename %}
                        <img src="{{ app.request.getBasePath()~vich_uploader_asset(visite, 'imageFile') }}"
                             class="card-img-top" style="width:100%;height:auto;">
                    {% else %}
                        <p>(aucune image)</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(formVisite.avis) }}
            </div>
        </div>
{{ form_end(formVisite) }}

